
@{
    Layout = "~/Views/Shared/_Backstage.cshtml";
    ViewBag.Title = "管理员密码更改";
}

<link rel="stylesheet" type="text/css" href="~/Content/Hui/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Hui/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Hui/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Hui/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Hui/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="~/Content/Hui/static/h-ui.admin/css/style.css" />


<article class="page-container" style="padding-top:10em">
    <form action="password" method="post" class="form form-horizontal loginBox" id="form-change-password">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">用户名：</label>
            <div class="formControls col-xs-5 col-sm-6">@ViewBag.LoginName</div>
            <span class="c-red">用户名不可更改</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-5 col-sm-6">
                <input type="password" class="input-text" autocomplete="off" placeholder="请输入您的新密码" name="newpassword" id="newpassword" />
            </div>
            <span class="c-red">@ViewBag.NewPassword</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-5 col-sm-6">
                <input type="password" class="input-text" autocomplete="off" placeholder="请再次输入您的新密码" name="doublepassword" id="doublepassword" />
            </div>
            <span class="c-red">@ViewBag.DoublePassword</span>
        </div>
        <div class="row cl" style="margin-top:7em">
            <div class="row cl col-xs-offset-5 col-sm-offset-5">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
            </div>
            <div class="row cl col-xs-offset-5 col-sm-offset-5" style="margin-top:0.5em;font-size:16px">
                <span class="Admin-LableTS">@ViewBag.CaoZuoTiShi</span>
            </div>

        </div>
    </form>
</article>



<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="~/Content/Hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Hui/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="~/Content/Hui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="~/Content/Hui/static/h-ui.admin/js/H-ui.admin.js"></script>
