
@{
    Layout = "~/Views/Shared/_Backstage.cshtml";
    ViewBag.Title = "后台主页";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
  
    <title>欢迎您使用</title>
    <link href="~/Content/Hui/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
</head>
    <body style="float:left; width:100%;height:100%; top: 0;left: 0;background-image:url(../../Content/Hui/img/welcomelogo.png);background-size:cover;">@*填充背景*@
        <div style="width:100%;height:100%;">
            <div style="margin-top:8px;background-size:100%;background:url(../../Content/Hui/img/logo.png) center no-repeat; width:100%;height:800px;" ></div>
        </div>
   </body>
</html>