*{
	margin: 0;
	padding: 0;
}
.banquan{
	position: relative;
	bottom: 40px;
	text-align: center;
    margin:0 auto;
    width:100%;
}
.fenge{
	position: relative;
	display: block;
	width: 800px;
	height: 1px;
	background-color: #b6b4b4;
    margin:0 auto;
}
