
    <link rel="stylesheet" type="text/css" href="~/Content/_music/css/_music.css" />

    <div id="bottom-man">
        <div id="main-music-play">
            <div class="play-btns-left">
                <a href="javascript:;" id="btns-ply" class="btns-ply btns-ply-Yes" title="播放/暂停(p)">播放/暂停</a>
                <a href="javascript:;" hidefocus="true" class="btns-Photo"></a>
            </div>

            <div id="play-kuang">
                <!--嘴外红-->
                <!--条-->
                <div id="kuang-tiao-chang"></div>
                <!--已经播放-->
                <div id="kuang-tiao-duan"></div>
                <div id="kuang-btn">
                    <div id="btn-style">
                    </div>
                </div>
                <div id="kuang-shijian"><em id="shijian-dangqian">00:00</em> / <em id="shijian-zong">00:00</em></div>
                <!--时间-->
            </div>

            <div id="play-btns-right">
                <div class="btns-yinliang">
                    <div class="yin"></div>
                    <div id="yinliang-chang">
                        <div id="yinliang-duan"></div>
                        <div id="yinliang-btn"></div>
                    </div>
                </div>
                <a href="javascript:;" hidefocus="true" data-action="volume" class="btns-ylbtn"></a>
            </div>
        </div>
    </div>
